<div class="row">
  <h2 class="col-sm-12 page-header">Add New Issue</h2>
</div>

<%= form_for(@issue, url: admin_issues_path, method: :post ) do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
  <%= submit_tag "Add Position", class: 'btn btn-primary' %>
<% end %>
