<div class="row">
  <div class="col-md-12">
    <div class="col-md-4 col-md-push-2">
      <h2> Title </h2>
      <p><%= @issue.title %></p>
    </div>
    <div class="col-md-4 col-md-push-2">
      <h2> Position </h2>
      <p><%= @issue.opinion %></p>
    </div>
  </div>
</div>
