<fieldset>
<div class='form-group'>
  <%= form.label :title, class: 'col-sm-1' %>
  <%= form.text_field :title, class: 'col-sm-11' %>
  <%= form.label :content, class: 'col-sm-1' %>
  <%= form.text_area :content, size: '80x12', class: 'col-sm-11' %>
</div>
</fieldset>

<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("md_page_content") });
</script>
