<div class="row">
  <h2 class='col-sm-12'>Create New Page</h2>
</div>

<%= form_for(@page, url: admin_pages_path, method: :post) do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
  <%= submit_tag "Create Page", class: 'btn btn-primary col-sm-offset-1' %>
<% end %>
