[roles]
  [roles.admin]
    title     = "Administrator"
    automated = false
  [roles.manager]
    title     = "Manager"
    automated = false
  [roles.user]
    title     = "User"
    automated = true
