# Authentication
AUTHENTICATION_MODULE: DeveloperAuth
ROLES_CONFIG_PATH:     'lib/roles.toml.example'
VERIFIED_USER_ROLE:    'user'

SECRET_TOKEN = 'Y0u_sh0uld.p0pul4t3-th!s-w1th-s0m3th!ng-r4nd0m-and-unkn0wn_via-the-command-l!n3-c0mm4nd: bundle exec rake secret'

# OmniAuth config
# Development:
OA_PROVIDER_PATH: 'lib/authentication/identity_provider.rb'

# Production (iterative list eventually)
OA_IDENTITY_PROVIDER_PATH  = 'lib/authentication/identity_provider.rb.example'

# Banners
DISPLAY_BANNERS:   false
BANNER_DISCLAIMER: "Site Wide Message: "
BANNER_LEVEL:      "THIS IS URGENT!!!!"
BANNER_BLOCK:      "© 2015"

# Site default variables, SEO, etc.
META_AUTHOR: "Steven Haddox"
SITE_TITLE:  "Open Campaign"
SITE_BRAND:  "OpenCampaign"
SITE_DOMAIN: "localhost"
SITE_EMAIL:  "info@base.dev"

# External Services
ERRBIT_API_KEY: 'your-own-airbrake/errbit/app englighten key here'
ERRBIT_HOST:    'airbrake.com'

# Enables demonstration mode; Allows any registering user to become admin
DEMO_MODE: true

# Sample SMTP Config for SendGrid
SMTP_FROM_ADDRESS: 'root@localhost'
SMTP_ADDRESS: 'smtp.sendgrid.net'
SMTP_PORT: 587
SMTP_AUTHENTICATION: 'plain'
SMTP_DOMAIN: 'yourproject.r15.railsrumble.com'
SMTP_USER: 'sendgrid-credential-user'
SMTP_PASSWORD: 'sendgrid-credential-pass'
SMTP_STARTTLS: true

# Optional: Social media badges
## Suggest following this Username
SOCIAL_TWITTER_USERNAME: 'totalnerd'
## Suggest tweeting this hashtag
SOCIAL_TWITTER_HASHTAG: 'VoteForPedro'
