<div class="panel panel-default">
  <div class="panel-heading">New Integrations</div>
  <div class="panel-body">
    <%= link_to("New Generic Integration", new_admin_social_path, {class: 'btn btn-primary'}) %>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Existing Integrations</div>
  <div class="panel-body">
  <%- @socials.each do |social| %>
    <%= social_item social %>
  <%- end %>
  </div>
</div>
