<div class="row">
  <h2 class='col-sm-12'>Create New Social Integration</h2>
</div>

<%= form_for(@social, url: admin_social_index_path, method: :post) do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
  <%= submit_tag "Create New Social Integration", class: 'btn btn-primary' %>
<% end %>
