<%- if ENV['DISPLAY_BANNERS'].to_bool == true %>
<div id="prioritization-footer" class="prioritization">
  <div class="block">
    <p>
      <%= ENV['BANNER_BLOCK']%>
    </p>
  </div>
  <%= render 'layouts/prioritization_banner' %>
</div>
<%- end %>
